<a href="https://colab.research.google.com/github/Kurniangga/Alprom-JOBSHEET06/blob/main/KurniaAngga_Jobsheet06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Praktikum 01 - Membuat dan Mengakses List 1D

In [ ]:
mahasiswa = ["Andi", "Budi", "Cici"]
print(mahasiswa[0])
print(mahasiswa[1])
print(mahasiswa[-1])

Andi
Budi
Cici

Praktikum 02 - Update dan Operasi Dasar List

In [ ]:
nilai = [85, 90, 78]
nilai [1] = 95
nilai.append (100)
nilai.remove (78)
print(nilai)

[85, 95, 100]

Praktikum 03 - Slicing List

In [ ]:
nilai = [85, 90, 78, 92, 88]
print (nilai[0:3])
print (nilai[2:])
print (nilai[:3])

[85, 90, 78]
[78, 92, 88]
[85, 90, 78]

Praktikum 04 - List 2D (Matriks)

In [ ]:
matriks = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print (matriks[0][0])
print (matriks[1][2])
print (matriks[2])

1
6
[7, 8, 9]

Praktikum 05 - Operasi pada List 2D

In [ ]:
A = [[1, 2, 3], [4, 5, 6]]
B = [[7, 8, 9], [10, 11, 12]]
C = []

for i in range(len(A)):
  baris = []
  for j in range(len(A[0])):
    baris.append (A[i][j] + B[i][j])
  C.append(baris)
  print(C)

[[8, 10, 12]]
[[8, 10, 12], [14, 16, 18]]

Praktikum 06 - Studi Kasus: Pengelolaan Nilai Mahasiswa

In [ ]:
nilai = [
 [80, 90, 85],
 [70, 75, 80],
 [88, 92, 84]
]

for i, baris in enumerate(nilai, start=1):
 rata = sum(baris) / len(baris)
 print(f"Rata-rata mahasiswa {i}: {rata:.2f}")

Rata-rata mahasiswa 1: 85.00
Rata-rata mahasiswa 2: 75.00
Rata-rata mahasiswa 3: 88.00

Penugasan Nomor 3 - Akses Elemen List

In [ ]:
Nama = ["Angga", "Dimas", "Annisa", "Kurnia", "Kanza"]
print(Nama[0])
print(Nama[-1])
print(Nama[1])

Angga
Kanza
Dimas

Penugasan Nomor 4 - Operasi Dasar List

In [ ]:
nilai = [70, 75, 80]

nilai[2] = 85
nilai.append(90)
nilai.remove(70)

print(nilai)

[75, 85, 90]

Penugasan Nomor 5 - Slicing List

In [ ]:
nilai = list(range(1, 11))

print(nilai[0:3])
print(nilai[6:])
print(nilai[1::2])

[1, 2, 3]
[7, 8, 9, 10]
[2, 4, 6, 8, 10]

Penugasan Nomor 6 - List 2D - Matriks

In [ ]:
matriks = [
    [1, 2],
    [3, 4],
    [5, 6]
]

print (matriks[0][1])
print (matriks[0])
print (matriks[1][1])

2
[1, 2]
4

Penugasan Nomor 7 - Operasi Matriks 2D

In [ ]:
matriks_A = [[5, 2],
             [3, 1]]

matriks_B = [[1, 7],
             [4, 8]]

hasil = [[0, 0],
          [0, 0]]

for i in range(len(matriks_A)):
    for j in range(len(matriks_A[0])):
        hasil[i][j] = matriks_A[i][j] + matriks_B[i][j]

print("Matriks A:")
for baris in matriks_A:
    print(baris)

print("\nMatriks B:")
for baris in matriks_B:
    print(baris)

print("\nHasil Penjumlahan (A + B):")
for baris in hasil:
    print(baris)

Matriks A:
[5, 2]
[3, 1]

Matriks B:
[1, 7]
[4, 8]

Hasil Penjumlahan (A + B):
[6, 9]
[7, 9]

Penugasan Nomor 8 - Rata-rata Mahasiswa

In [ ]:
nilai = [
    [75, 80, 85],
    [60, 70, 65],
    [90, 95, 92]
]

for i, baris in enumerate(nilai, start=1):
  rata = sum(baris) / len(baris)
  print(f"Rata-rata mahasiswa {i} : {rata: .2f}")

Rata-rata mahasiswa 1 :  80.00
Rata-rata mahasiswa 2 :  65.00
Rata-rata mahasiswa 3 :  92.33

Penugasan Nommor 9 - Data Toko

In [ ]:
stok = [["Buku", 20],
        ["Pulpen", 35],
        ["Penghapus", 15]]

print("Daftar Stok Barang Saat Ini: ")

barang_terbanyak = stok[0][0]
stok_terbanyak = stok[0][1]

for barang in stok:
    nama_barang = barang[0]
    jumlah_stok = barang[1]

    print(f"- {nama_barang}: {jumlah_stok} unit")

    if jumlah_stok > stok_terbanyak:
        stok_terbanyak = jumlah_stok
        barang_terbanyak = nama_barang


print("\n" + "---" * 10)
print("Barang dengan Stok Terbanyak:")
print(f"Nama Barang: {barang_terbanyak}")
print(f"Jumlah Stok: {stok_terbanyak} unit")

Daftar Stok Barang Saat Ini:
- Buku: 20 unit
- Pulpen: 35 unit
- Penghapus: 15 unit

------------------------------
Barang dengan Stok Terbanyak:
Nama Barang: Pulpen
Jumlah Stok: 35 unit